:root {
    --primary: #DD3965;
    --secondary: #222222;
    --btn-secondary-text: #2E5F73
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    align-content: stretch;
}

.left {
    flex: 1;
    background-color: var(--secondary);

}

.left-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px 20px;
    position: sticky;
    top: 50px;
    gap: 70px;
}

.right {
    flex: 2;
}

section:nth-child(odd) {
    background-color: var(--primary);
    padding: 50px 60px;
}

section:nth-child(even) {
    padding: 50px 60px;
    background-color: white;
}


.personal-image {
    filter: drop-shadow(20px 20px 70px #151515);
    border-radius: 24px;
    transform: scaleX(-1);
}

.information>*:not(p:first-child) {
    margin-block-start: 17px;
}

.bio-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--primary)
}

.bio {
    font-size: 14px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media-links>a:link {
    color: white;
    text-decoration: none;
}

.social-media-links>a:visited {
    color: white;
    text-decoration: none;
}

.github-logo,
.linkedin-logo,
.facebook-logo,
.instagram-logo {
    fill: white;
}

.github-logo:hover>svg {
    fill: var(--secondary);
    outline: none;
    background-color: white;
    overflow: clip;
    border-radius: 100%;
}

.linkedin-logo:hover>svg {
    fill: white;
    outline: none;
    background-color: #0072b1;
    overflow: clip;
    border-radius: 7px;
}

.facebook-logo:hover>svg {
    fill: white;
    outline: none;
    background-color: #3b5998;
    overflow: clip;
    border-radius: 100%;
}

.instagram-logo:hover>svg {
    fill: white;
    outline: none;
    background-color: #962fbf;
    overflow: clip;
    border-radius: 100%;
}

.btn {
    padding-inline: 16px;
    padding-block: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: all;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
    text-decoration: none;
}

.btn-primary:hover {
    box-shadow: 10px 20px 50px rgba(244, 81, 124, 0.4)
}

.btn-secondary:hover {
    box-shadow: 10px 20px 60px rgba(46, 95, 115, 0.32);
}

.cta-section {
    display: flex;
    gap: 20px;
}

.btn-secondary {
    background-color: white;

}

.btn-secondary>p {
    color: var(--btn-secondary-text);
    stroke: var(--btn-secondary-text);
}

.btn-secondary>svg {
    fill: var(--btn-secondary-text);
}

.btn-primary {
    background-color: var(--primary)
}

.btn-primary>p {
    color: white;
    stroke: white;
}

.btn-primary>svg {
    fill: white;

}


ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

ul>li {
    width: 100px;
    text-align: center;
    font-size: 10px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

ul>li>img {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}



section>p {
    font-size: 30px;
    color: white;
    display: block;
    margin-block-end: 45px;
}

section:nth-child(even)>p>span.bold {
    color: var(--primary);
}

section:nth-child(even)>p {
    color: var(--secondary);
}

.bold {
    font-weight: bold;
    color: black;
}

.experiences {

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.experience-item>p:first-child {
    font-size: 16px;
    color: #808C8E;
}

.experience-item>p:first-child span {
    font-weight: bold;
    color: inherit;
}

.experience-item>p:last-child {
    font-size: 22px;
    color: var(--primary);
    font-weight: 500;
}


footer {
    background-color: var(--secondary);
    padding-block-start: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.footer-title {
    font-size: 32px;
    color: white
}

.peace-sign {
    margin: initial auto;
    display: block;
    margin: 16px auto 0 auto;
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 700ms;
}

/* flex justify-center leading-none w-fit relative group */
.project-button {
    display: flex;
    justify-content: center;
    line-height: normal;
    width: fit-content;
    position: relative;

}

.project-button>p {
    color: white;
    font-weight: bold;
    flex: 1;
    font-size: 2rem;
    transition: all;
    transition-duration: 300mx;
    transition-timing-function: ease-in-out;
    margin: 0 auto;
    display: inline;
}

.project-button>p:hover {
    opacity: 0.5;
}

/* absolute pointer-events-none h-40 translate-y-11 peer-hover:translate-y-4 opacity-0 peer-hover:opacity-100 transition duration-500 */
.project-button>img {
    position: absolute;
    height: 2.75rem;
    transform: translateX(4rem);
    transition: all;
    opacity: 0;
    transition-duration: 500ms;
}

.project-button:hover>img {
    transform: translateX(0);
    opacity: 0.7;
}

section:last-child>p {
    margin-block-end: 24px;
}

section:last-child div+div {
    margin-top: 32px;
}